
<script type="text/javascript">
(function () {
  /*
  let date = new Date();
  date.setTime(date.getTime() + (7*24*60*60*1000));
  let expires = "expires=" + date.toUTCString();
  let cookiePath = "path=/node/" + "<%= host.to_s %>" + "/" + "<%= port.to_s %>/";
  let cookie = `csrf-token=<%= csrf_token %>;${expires};${cookiePath};SameSite=strict;secure`;
  document.cookie = cookie;
  */
})();
</script>
<p>
  You can connect to a simple chat client by clicking the button below,
  or you can use this Ollama server with other clients such as 
  <a href="https://github.com/ggozad/oterm">oterm</a>, 
  <a href="https://opencode.ai/">OpenCode</a>, or 
  <a href="https://claude.com/product/claude-code">Claude Code</a>.
 </p>
 <p>
  You'll need to configure those clients with the Ollama URL, which is<br/>
 <a target="_blank" href="http://<%= host %>.fhcrc.org:<%= ollama_port %>">http://<%= host %>.fhcrc.org:<%= ollama_port %></a>
 </p>
 <a href="/node/<%= host %>/<%= port%>/" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa"></i> Connect to Open-WebUI/Ollama
  </button>
</a>
