<script type="text/javascript">
(function () {
  /*
  let date = new Date();
  date.setTime(date.getTime() + (7*24*60*60*1000));
  let expires = "expires=" + date.toUTCString();
  let cookiePath = "path=/node/" + "<%= host.to_s %>" + "/" + "<%= port.to_s %>/";
  let cookie = `csrf-token=<%= csrf_token %>;${expires};${cookiePath};SameSite=strict;secure`;
  document.cookie = cookie;
  */
})();
</script>
 <a href="/node/<%= host %>/<%= port%>/" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa"></i> Connect to Open-WebUI/Ollama
  </button>
</a>
